#content
  margin: 20px auto
  text-align: center

.margin-infinite
  padding-bottom: 60px

#posts
  margin: 0 auto 0 auto
  list-style-type: none
  position: relative
  display: inline-block

.posts
  padding: 20px 20px
  word-wrap: break-word

.posts-permalink
  max-width: 1300px
  min-width: 520px
  padding: 0 20px 0 310px
  display: inline-block
