#loading
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0px
  z-index: 10
  text-align: center
  color: white
  background: gradientTop


  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url("data:image/svg+xml base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4YTZhZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZjU1OTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+")
  background: -moz-linear-gradient(top, gradientTop 0%, gradientBot 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,gradientTop), color-stop(100%,gradientBot)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  gradientTop 0%,gradientBot 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  gradientTop 0%,gradientBot 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  gradientTop 0%gradientBot 100%); /* IE10+ */
  background: linear-gradient(to bottom,  gradientTop 0%,gradientBot 100%); /* W3C */
  background-attachment: fixed

#loading-spinner, #lightbox-spinner, #masonry-spinner
  position: absolute
  top: 50%
  left: 50%
  margin-top: -14px
  margin-left: -14px
  color: white
  width: 24px
  height: 28px
  text-align: center
  padding: 0px 2px
