#pagination
  width: 500px
  font-weight: bold
  color: white
  margin: 0px auto 0px auto
  padding: 40px 0
  text-align: center

  a
    color: white
    text-decoration: none
    background-color: whiteTrans(0.1)
    padding: 5px 10px 7px 10px
    border-radius: 4px
    transition: 0.5s all

    &:hover
      text-decoration: none
      background-color: whiteTrans(0.2)

#pagination a+a
  margin-left: 10px

#infscr-loading
  text-align: center
  color: white
  font-weight: bold
  padding: 0
  position: absolute
  bottom: -20px
  width: 100%

#infscr-loading img
  display: none

.invisible
  opacity: 0
