whiteTrans(n)
	rgba(255, 255, 255, n)

blackTrans(n)
	rgba(0, 0, 0, n)

white = #fff
silver = #dcdcdc
dark-silver = #eee
hover-gray = #8f8f8f
light-gray = #bebebe
light-gray1 = #404040
gray = #444
dark-gray = #222
askerGray = #a6a6a6
answerGray = #333
questionGray = #555
maroon = #cd1828
gradientTop = #e8a6ae
gradientBot = #4f5598
links = gray
linkPosts = #8F78A0
